@import '../../_settings.scss';

mat-card {
  width: 90%;
  margin: 30px auto;
  text-align: center;

  h1 {
    text-align: center;
    width: 100%;
  }

  mat-icon {
    font-size: 8rem;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  mat-icon.updating {
    animation: mymove 1s infinite;
  }

}


@keyframes mymove {
  from {transform: rotate(0);}
  to {transform: rotate(360deg);}
}