<div class="mat-elevation-z8">
  <table mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row">{{row.name}}</td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
      <td mat-cell *matCellDef="let row">{{row.price}}</td>
    </ng-container>

    <!-- Promotion Column -->
    <ng-container matColumnDef="promotion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Promotion</th>
      <td mat-cell *matCellDef="let row">{{row.promotion}}</td>
    </ng-container>

    <!-- Market Column -->
    <ng-container matColumnDef="market">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Market</th>
      <td mat-cell *matCellDef="let row">{{row.market}}</td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
    [length]="dataSource.data.length"
    [pageIndex]="0"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 15, 20, 50, 100]">
  </mat-paginator>
</div>

<button (click)="hideColumn()">remove</button>

<h1>start</h1>

<ul>
  <li *ngFor="let product of this.ds.products">{{product.name}}</li>
</ul>





<h1>end</h1>