@import '../../_settings.scss';

.mat-elevation-z8 {
  width: 96%;
  margin: 30px auto;
  background-color: #424242;
  position: relative;

  button {
    margin: 2% 0 1% 3%;
  }

  .mat-form-field {
    font-size: 14px;
    width: 70%;
    margin: 10px 0 0 3%;
  }

  .filter-icon {
    margin: 20px;
    float: right;
    font-size: 30px;
    cursor: pointer;
    transition: all .5s;

    &:hover {
      color: $primary-color;
    }
  }
  table {
    width: 100%;

    .mat-row {
      cursor: pointer;

      &:hover {
        background-color: $primary-color;
      }

      &:hover .mat-cell {
        color: white;
      }
    }

    @media(max-width: 800px) {
      .mat-cell {
        font-size: 13px;
      }
    }
    @media(max-width: 650px) {
      .mat-cell {
        font-size: 10px;
      }
    }
  }
}
.mat-elevation-z8.hidden {
  display: none;
}

.loading-indicator {
  margin: 10% auto;
}